body {
  background: linear-gradient(to top, #0099ff 0%, #a8edea 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#results {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

#results2 {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

#results3 {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

#results4 {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

#results5 {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

#results6 {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}

